<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.almiso.collageapp.android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".base.CollageApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/st_app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:theme="@style/AppTheme"
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:label="@string/st_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ActivityAvatarPreview"
            android:theme="@style/AvatarActivity"
            android:screenOrientation="portrait"
            android:label="@string/st_photo">
        </activity>

        <activity
            android:name=".activity.ActivityPhotoPreview"
            android:theme="@style/AvatarActivity"
            android:screenOrientation="portrait"
            android:label="@string/st_photo">
        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>


    </application>

</manifest>
